doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    title 値段識別表 - 不思議のダンジョン 風来のシレン4 神の眼と悪魔のヘソ
    meta(name='viewport' content='width=device-width, initialize-scale=1')
    link(rel='stylesheet', href='/css/bundle.css')
    script(src='/js/bundle.js', charset='UTF-8')

  body
    div(data-role="page")
      div(data-role="header")
        h1 風来のシレン4
      div(data-role="content")
        ul(data-role="listview")
          - each datum in data
            li
              a(href="\##{datum.type}")= datum.name
      div(data-role="footer")
        h4 Copy right 2015

    - each datum in data
      div(data-role="page" id="#{datum.type}")
        div(data-role="header")
          h1= datum.name
        div(data-role="content")
          ul(data-role="listview")
            - each item in datum.items
              li
                a(href="#" style="padding-top: 0px;padding-bottom: 0px;padding-right: 0px;padding-left: 0px; border-top-width: 0px;")
                  label(style="border-top-width: 0px;margin-top: 0px;border-bottom-width: 0px;margin-bottom: 0px;border-left-width: 0px;border-right-width: 0px;" data-corners="false")
                    fieldset(deta-role="controlgroup")
                      input(type="checkbox" name="checkbox-2b" id="" data-theme="c")
                      label(for="") #{item.name} buy: #{item.buy} sell: #{item.sell}
        div(data-role="footer")
          h5 Copy right 2015
